.custom-bg {
  background-color: rgb(27, 142, 165) !important;
  padding: 10px;
}
.image-div{
  display: flex;
  justify-content: flex-start;
}
.image{

  margin: 0px 0px 0px 27px;
  height: 150px;
  width: 150px;
  border-radius: 100px;
}
.custom-md{
  margin: auto;
}